body {
    background-color: aqua;
}
.port1 {
font-weight: 900;
font-size: 6vh;
}
.header
{
height:450px;
width:1224px;
padding-top:48px;
display:flex;
flex-direction:column;
gap:10px;
}
.frame62
{
height:402px;
width:1224px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-start;
position:relative;
}
.frame59
{
height:258.0010070800781px;
width:143.9980010986328px;
padding:0px;
display:flex;
flex-direction:column;
gap:72px;
}
.frame58
{
height:154px;
width:140px;
padding:0px;
display:flex;
flex-direction:column;
gap:24px;
}
.frame57
{
height:122px;
width:140px;
padding:0px;
display:flex;
flex-direction:column;
}
.hi,iam
{
color:#e6813e;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Satoshi;
line-height:32px;
border-style:hidden;
outline:none;
width:83px;
}
.han
{
color:#45577b;
text-align:left;
vertical-align:text-top;
font-size:72px;
font-family:Satoshi;
line-height:125px;
border-style:hidden;
outline:none;
width:140px;
}
.rectangle33
{
background-color:#e6813e;
height:8px;
width:80px;
}
.frame12
{
height:32.000999450683594px;
width:143.9980010986328px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:relative;
}
.linkedin-icon
{
width:32px;
height:32.000999450683594px;
}
.vector
{
background-color:#45577b;
height:32.000999450683594px;
width:32px;
width:32px;
height:32.000999450683594px;
}
.github-icon
{
align-self:flex-start;
left:56px;
top:0px;
position:absolute;
width:31.99799919128418px;
height:31.21173667907715px;
}
.vector2
{
background-color:#45577b;
height:31.21173667907715px;
width:31.99799919128418px;
width:31.99799919128418px;
height:31.21173667907715px;
left:56px;
width:31.99799919128418px;
height:31.21173667907715px;
position:absolute;
}
.dribbble-icon
{
align-self:flex-start;
left:111.99px;
top:0px;
position:absolute;
width:32px;
height:32px;
}
.vector3
{
background-color:#45577b;
height:32px;
width:32px;
width:32px;
height:32px;
left:111.99px;
width:32px;
height:32px;
position:absolute;
}
.frame60
{
height:402px;
width:370px;
align-self:flex-start;
left:854px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:32px;
}
.uiengineerbasedonyogyakarta,indonesia
{
color:#45577b;
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Satoshi;
line-height:125px;
border-style:hidden;
outline:none;
width:369px;
}
.frame61
{
height:52px;
width:297px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:8px;
position:absolute;
top:350px;
left:0px;
}
.button
{
background-color:#e6813e;
height:52px;
width:119px;
filter:drop-shadow(0px 1px 2px rgba(0,0,0,0.11999999731779099));
border-radius:6px;
padding-left:20px;
padding-right:20px;
padding-top:12px;
padding-bottom:12px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:4px;
position:relative;
border-style:hidden;
outline:none;
}
.button2
{
color:#f2f3f2;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Satoshi;
align-self:flex-start;
left:20px;
top:12px;
position:absolute;
line-height:28px;
border-style:hidden;
outline:none;
width:79px;
display:flex;
}
.button3
{
height:52px;
width:170px;
filter:drop-shadow(0px 1px 2px rgba(0,0,0,0.11999999731779099));
align-self:flex-start;
left:127px;
top:0px;
position:absolute;
border-radius:6px;
padding-left:20px;
padding-right:20px;
padding-top:12px;
padding-bottom:12px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:4px;
border-style:hidden;
outline:none;
}
.heroicons-outline-arrow-down-tray
{
height:16px;
width:16px;
align-self:flex-start;
left:20px;
top:18px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector4
{
background-color:#45577b;
height:12px;
width:12px;
width:12px;
height:12px;
left:2px;
top:2px;
width:12px;
height:12px;
position:absolute;
}
.button4
{
color:#45577b;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Satoshi;
align-self:flex-start;
left:40px;
top:12px;
position:absolute;
width:110px;
height:28px;
line-height:28px;
border-style:hidden;
outline:none;
display:flex;
}
